NODE_ENV=production
PORT=3000

DB_URL=postgresql://neondb_owner:npg_hL1xjKV2oZbf@ep-icy-rain-ao4gv2c1.c-2.ap-southeast-1.aws.neon.tech/neondb?sslmode=require
# DB_HOST=postgres
# DB_PORT=5432
# DB_USERNAME=nearme_user
# DB_PASSWORD=nearme_pass
# DB_NAME=nearme_social

JWT_SECRET=change_this_secret
JWT_EXPIRES_IN=24h